<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evigel.sunnytable.mapper.LineAxisMapper">
    <select id= "getTemplate" resultType="com.evigel.sunnytable.dto.LineChartTemplateDto">
        SELECT
        DISTINCT
            foid.fid id,
            umid.mn name,
            umid.uid userId,
            line.*
        FROM
            umid,
            foid,
            lineAxis line
        WHERE
            foid.fid = '${fid}'
        AND
            umid.mid = foid.oid
        AND
            line.mid = umid.mid
    </select>
</mapper>
